.faq-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.accordian-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.single-accordian-container {
  display: flex;
  flex-direction: row;
}

.accordian-toggle-container:hover {
  cursor: pointer;
}

.accordian {
  display: flex;
  flex-direction: column;
}